@charset "utf-8";
.hide {font-size:0; line-height:0; color:#fff; text-indent:-5000px; }
*:focus {outline: 0;}
/* Change the white to any color ;) */
html{overflow:hidden;}
body{font-size:32px; line-height:48px; color:#000; background:#000; background-size:100% auto; background:#000;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #fff7f8 inset;-webkit-text-fill-color: #666 !important;}
input{background:#fff; color:#666; padding:15px 20px; width:730px; height:50px; font-size:40px; line-height:40px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; border:none; box-shadow:none; font-family:"微軟正黑體","Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple LiGothic";}
div,ul,li,a{position:relative;}
a{text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur()); color:#fff; text-align:center; cursor:pointer; display:inline-block;}
section{position:relative; width:1920px; height:1080px;}
img{width:100%; display:block;}
button{box-shadow:none; border:none; font-family:"微軟正黑體","Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple LiGothic";}

.logo{width:259px; height:100px; position:absolute; top:48px; left:90px; z-index:10;}
.bg1{background:url('../imgs/bg1.jpg') 0 0 no-repeat;}
.bg2{background:url('../imgs/bg2.jpg') 0 0 no-repeat;}
.bg3{background:url('../imgs/bg3.jpg') 0 0 no-repeat;}
.bg4{background:url('../imgs/bg4.jpg') 0 0 no-repeat;}
.bg5{background:url('../imgs/bg5.jpg') 0 0 no-repeat;}
/*====== table ======*/
.table{display:table; margin:auto;}
.table > li{display:table-row;}
.table > li > div{display:table-cell; vertical-align:middle; text-align:center;}
/*====== score List ======*/
#scoreList > div{float:left; width:510px;}
#scoreList .btnBox{padding:856px 0 0 60px;}
.homeBtn{margin-right:20px;}
#scoreList .qaScoreList{padding:280px 0 0 110px;}
#scoreList .table{width:1037px;}
#scoreList .table li div{border-bottom:4px solid #808080; padding:8px 24px 0 10px; width:260px; word-wrap:break-word; word-break:break-all;}
#scoreList .qaScoreList .table li div span{box-sizing:border-box; margin-right:14px;}
#scoreList .qaScoreList .table li div:nth-child(1){width:190px;}
#scoreList .qaScoreList .table li div:nth-child(4){width:327px;}
#scoreList .qaScoreList .table li div:last-child span{margin:0;}
#scoreList .qaScoreList .table li.th div{border:none; padding:0;}
#scoreList .qaScoreList .table li.th div span{background:#7f4f8e; color:#fff; padding:5px 10px; display:block;}
#scoreList .mapScoreList .table li.th div span{background:#00768f;}
#game .fancybox-close {background: url('../imgs/score_close_btn.png') 0 0 no-repeat; top: 54px;	right: 54px; width: 50px; height: 50px;}
#game .fancybox-overlay {background: url('../imgs/fancybox_overlay.png');}
#game .fancybox-skin{-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#scoreBox{width:932px; height:670px; background: url('../imgs/score_bg.jpg'); font-size:40px; line-height:62px;}
.scoreTxt{position:absolute; top:150px; left:370px; width:490px;}
.ScoreCloseBtn{position:absolute; bottom:120px; right:10px;}
.scoreTitle, .scoreNum{color:#f00; font-size:58px;}


/*====== login ======*/
a.loginBtn{width:567px; height:567px; top:440px; left:670px;}
.lightBox{width:1200px; height:600px; color:#fff;}
.lightBox:after{content: ""; position:absolute; width:100%; height:100%; background:#000; opacity:0.9; top:0; z-index:-1;}
.lightBox form{width:970px; margin:auto; padding-top:100px;}
.lightBox form span{width:180px; display:inline-block;}
.lightBox form p{padding-left:185px; color:#f00; font-size:32px;}
.lightBox div{width:100%; padding-bottom:50px;}
.lightBox div:last-child{text-align:right;}
.lightBox .lightboxBtn{width:240px; height:75px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; line-height:0; cursor:pointer; background:#a6937c; color:#642d33;}
#loginError.lightBox div:first-child{text-align:center; padding-top:215px; font-size:72px;}
#loginError.lightBox button.lightboxBtn{width:520px; font-size:1em; margin:160px 200px 0 0;}

/*====== select ======*/
.selectQaBtn, .selectMapBtn{width:567px; height:344px; position:absolute; z-index:2; left:310px; top:675px;}
.selectMapBtn{left:1060px;}
.selectPeople{width:766px; height:657px; top:360px; margin:auto; z-index:1;}
footer{position:fixed; bottom:0; left:0; z-index:99;}

/*====== Q&A game ======*/
#qaGame{padding:323px 0 0 120px;}
ul.qaList > li{overflow:auto;}
ul.qaList > li > div{float:left;}
.qaQ{width:830px; height:580px; padding-top:70px;}
.timer{position:absolute; top:300px; left:59px; font-size:65px; color:#f00; text-align:center; width:95px;}
.qaQ > ul{height:580px;}
.qaTxt{background:url('../imgs/qa_txt_bg.png') 0 0 no-repeat; background-size:100% 100%; margin:0 30px; padding:40px 20px; text-align:justify;}
.qaTxt > div{height:140px; width:730px; display:table-cell; vertical-align:middle;}
.qaASelect .table{width:720px;}
.qaASelect div{font-size:32px; line-height:42px; padding:17px 25px; color:#fff; box-sizing:border-box; }
.qaASelect div > a{display:block; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; padding:10px 20px; box-sizing:border-box; vertical-align:middle; cursor:pointer;}
.qaA0 a{background:#ea68a2;}
.qaA1 a{background:#32b16c;}
.qaA2 a{background:#00a0e9;}
.qaA3 a{background:#8f82bc;}
.qaNote{font-size:20px; line-height:30px; text-align:right; padding:0 55px; position:absolute; bottom:0;}
.qaNote:after{content:" "; border-color:transparent transparent transparent #000; border-style:solid solid solid solid; border-width:13px; position:absolute; top:0; right:18px;}
.qaPic{width:737px; height:627px; margin:2px 0 0 76px; display:table-row; vertical-align:middle; box-sizing:border-box;}
.qaPic img{margin:auto; width:auto;}
